* {
  box-sizing: border-box;
}

body {
  background-color: #4d4e4f;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 20px 0;
}

#root {
  max-width: 1280px;
  width: 100%;
}

.header {
  color: #fff;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0;
  width: 100%;
}

.grid__item {
  flex: 1 1 290px;
  margin: 0 10px 20px;
}

/* Фотокарточки */
.card {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  line-height: 0;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.card__body {
  background-color: #eee;
  height: 215px;
  overflow: hidden;
  width: 100%;
}

.card__body img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.card__footer {
  padding: 10px 15px;
  width: 100%;
}

.media__obj {
  background-color: #d8d8d8;
  border-radius: 50%;
  float: left;
  height: 32px;
  margin-right: 15px;
  width: 32px;
}

.media__body {
  height: 32px;
  line-height: 32px;
  width: 100%;
}

.media__body a {
  color: #999;
  font-family: Courier, serif;
  font-size: 15px;
}

.media__body a:hover {
  text-decoration: none;
}

/* ============================
      Sweet Alert
============================= */
.sweet-alert {
  max-height: 620px !important;
  top: 32% !important;

  h2 {
    font-size: 1.6rem;
    text-transform: capitalize;
  }

  img {
    max-height: 450px !important;
  }
}

/* ============================
          PAGINATION
============================= */
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 4px;
  width: 100%;
}

.pagination__left,
.pagination__right,
.pagination__mid {
  padding: 30px 0;
}

.pagination span[role="button"] {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #999;
  cursor: pointer;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  height: 44px;
  line-height: 42px;
  margin: 0 6px;
  max-width: 160px;
  padding: 0 5px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &:hover,
  &.current {
    border-color: #ea4c89;
    color: #ea4c89;
  }

  @media (min-width: 620px) {
    padding: 0 16px;
  }
}

.pagination__mid {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.pagination__mid ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination__mid li {
  display: inline-block;
}

.hidden {
  display: none !important;
}

/* ============================
            LOADER
============================= */
.loader {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9;
  /*   position: relative; */
}

.loader::before,
.loader::after {
  bottom: 0;
  content: "";
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.loader::before {
  background: hsla(0, 0%, 22%, 0.7);
}

.loader::after {
  animation: spinner 1s linear infinite;
  border-radius: 50%;
  border-top-color: #ea4c89;
  border: 2px solid #ccc;
  content: "";
  font-size: 48px;
  height: 1em;
  width: 1em;
}

@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}
